<div class="manager-resumes-item">
  <div class="manager-content">
      <a href="#"><img class="resume-thumb" src="{{imagePrefix}}1p.jpeg" alt="user"></a>
      <div class="manager-info">
        <div class="manager-name">
            <h4 class="text-orange"> <a href="#0">Ammy W.</a> </h4>
            <h5><span class="university-name">University Name </span>  | <span class="year-class text-orange">Class of 2015 </span> </h5>
            <h5><span class="home-City"> Home City</span>: <span class="year-class text-orange">Callifornia </span> | <span class="state">Home State</span>: <span class="year-class text-orange">abc state </span> </h5>
            <span class="d-flex align-items-center"><i class="ti-location-pin"></i> Service Booked: <span class="label label-red ml-1">Essay Review </span></span>
        </div>
        <div class="manager-meta">
            <div class="label label-primary d-inline-block">Completed</div>
            <span class="font-family-regular">Amount to be Paid: $55 </span>
            <span class="location"><i class="ti-location-pin"></i> Date Booked:  February 24, 2020</span>
            <span class="location d-block"><i class="ti-location-pin"></i> Requested Completion Date: March 2, 2020</span>
        </div>
      </div>
  </div>
  <div class="item-body">
      <div class="content pb-0 pt-0">
        <div class="clearfix">
            <div class="float-left">
              <h3 class="text-orange border-bottom-0 pb-0 mt-2">Download Reviewed Essay</h3>
            </div>
        </div>
        <a class="file-style my-files file-style2 bg-light" href="#"><i class="fa fa-file-text"></i></a>
      </div>
      <div class="resume-skills">
        <div class="resume-exp float-right default-form">
            <a href="#ratingmodal" data-toggle="modal" class="btn btn-danger rounded-pill">Rate Your Mentor </a>
        </div>
      </div>
  </div>
</div>
<div class="manager-resumes-item">
  <div class="manager-content">
      <a href="#"><img class="resume-thumb" src="{{imagePrefix}}1p.jpeg" alt="user"></a>
      <div class="manager-info">
        <div class="manager-name">
            <h4 class="text-orange"> <a href="#0">Edward C.</a> </h4>
            <h5><span class="university-name">University Name </span>  | <span class="year-class text-orange">Class of 2015 </span> </h5>
          <h5><span class="home-City"> Home City</span>: <span class="year-class text-orange">Callifornia </span> | <span class="state">Home State</span>: <span class="year-class text-orange">abc state </span> </h5>
            <span class="d-flex align-items-center"><i class="ti-location-pin"></i> Service Booked: <span class="ml-1 label label-red">Essay Review </span></span>
        </div>
        <div class="manager-meta">
            <div class="label label-primary d-inline-block">Completed</div>
            <span class="font-family-regular">Amount to be Paid: $55 </span>
            <span class="location"><i class="ti-location-pin"></i> Date Booked:  February 24, 2020</span>
            <span class="location d-block"><i class="ti-location-pin"></i> Requested Completion Date: March 2, 2020</span>
        </div>
      </div>
  </div>
  <div class="item-body">
      <div class="content pb-0 pt-0">
        <div class="clearfix">
            <div class="float-left">
              <h3 class="text-orange border-bottom-0 pb-0 mt-2">Download Reviewed Essay</h3>
            </div>
        </div>
        <a class="file-style my-files file-style2 bg-light" href="#"><i class="fa fa-file-text"></i></a>
      </div>
      <div class="resume-skills">
        <div class="resume-exp float-right default-form">
            <a href="#ratingmodal" data-toggle="modal" class="btn btn-danger rounded-pill">Rate Your Mentor </a>
        </div>
      </div>
  </div>
</div>
<div class="manager-resumes-item">
  <div class="manager-content">
      <a href="#"><img class="resume-thumb" src="{{imagePrefix}}1p.jpeg" alt="user"></a>
      <div class="manager-info">
        <div class="manager-name">
            <h4 class="text-orange"> <a href="#0">Mentor name</a> </h4>
            <h5><span class="university-name">University Name </span>  | <span class="year-class text-orange">Class of 2015 </span> </h5>
            <h5><span class="home-City"> Home City</span>: <span class="year-class text-orange">Callifornia </span> | <span class="state">Home State</span>: <span class="year-class text-orange">abc state </span> </h5>
            <span class="d-flex align-items-center"><i class="ti-location-pin"></i> Service Booked: <span class="ml-1 label label-red">Phone Consultation </span></span>
        </div>
        <div class="manager-meta">
            <div class="label label-primary d-inline-block">Completed</div>
            <span class="font-family-regular">Amount to be Paid: $55 </span>
            <span class="location"><i class="ti-location-pin"></i> Hours Booked: February 24, 2020</span>
            <span class="location d-block"><i class="ti-location-pin"></i> Requested Completion Date: March 2, 2020</span>
        </div>
      </div>
  </div>
  <div class="item-body">
      <div class="content pb-0 pt-0">
        <div class="clearfix">
            <div class="float-left">
              <h3 class="text-orange border-bottom-0 pb-0 mt-2">Download Reviewed Essay</h3>
            </div>
        </div>
        <a class="file-style my-files file-style2 bg-light" href="#"><i class="fa fa-file-text"></i></a>
      </div>
      <div class="resume-skills">
        <div class="resume-exp float-right default-form">
            <a href="#ratingmodal" data-toggle="modal" class="btn btn-danger rounded-pill">Rate Your Mentor </a>
        </div>
      </div>
  </div>
</div>
