
<div id="tg-wrapper" class="tg-wrapper tg-haslayout" style="display: contents;">
  <div class="tg-navigationarea">
    <nav class="navbar navbar-expand-xl p-lg-0">
      <div class="container">
        <div class="d-flex aling-items-center w-100">
          <div class="logo-location">
            <strong class="tg-logo"><a href="#"><img width="100px" src="{{imagePrefix}}/logo2.png" alt="logo"></a></strong>
            <ul class="navbar-nav loc-block">
              <li class="cart dropdown  dropdown">
                <div class="loc_link">
                  <a href="#" data-toggle="dropdown">Argentina <span class="loc-icon ml-1"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                  <div class="mini_cart dropdown-menu">
                    <div class="loc_inner">
                      <div class="row">
                        <div class="col-4 border-right-custom">
                          <div class="loc-ul">
                            <ul>
                              <li><a href="#0">Afghanistan</a></li>
                              <li><a href="#0">Angola</a></li>
                              <li><a href="#0">Aruba</a></li>
                              <li><a href="#0">Australia</a></li>
                              <li><a href="#0">Belize</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-4 border-right-custom">
                          <div class="loc-ul">
                            <ul>
                              <li><a href="#0">Afghanistan</a></li>
                              <li><a href="#0">Angola</a></li>
                              <li><a href="#0">Aruba</a></li>
                              <li><a href="#0">Australia</a></li>
                              <li><a href="#0">Belize</a></li>
                            </ul>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="loc-ul">
                            <ul>
                              <li><a href="#0">Afghanistan</a></li>
                              <li><a href="#0">Angola</a></li>
                              <li><a href="#0">Aruba</a></li>
                              <li><a href="#0">Australia</a></li>
                              <li><a href="#0">Belize</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse display-scroll-none" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item mr-sm-3 mr-1 d-none-1199"><a class="tg-btn" href="#"><i class="icon-bookmark"></i> Post your ad</a></li>
              <li class="nav-item"><a class="nav-link active" href="#0">Blog</a></li>
              <li class="nav-item"><a class="nav-link active" href="#0">Sign In</a></li>
              <li class="nav-item"><a class="nav-link" href="#0">Register</a></li>
            </ul>
            <ul class="navbar-nav social-header-link">
              <li class="nav-item mr-2"><a class="facebook-icon social-icon-a" href="#0"><i class="fa fa-facebook"></i></a></li>
              <li class="nav-item mr-2"><a class="twitter-icon social-icon-a" href="#0"><i class="fa fa-twitter"></i></a></li>
              <li class="nav-item mr-2"><a class="instagram-icon social-icon-a" href="#0"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <ul class="navbar-nav ml-auto post-block collapse-menus">
            <li class="nav-item mr-sm-3 mr-1"><a class="tg-btn" href="#"><i class="icon-bookmark"></i> Post your ad</a></li>
            <li class="nav-item mr-sm-3 mr-1 none-display">
              <div class="search-bar">
                <a class="nav-link collapse-menus-link text-white" href="#0"><i class="fa fa-search"></i></a>
              </div>
            </li>
            <li class="dropdown mr-3">
              <div class="menus-mega">
                <a href="#" data-toggle="dropdown"> <span class="ml-1 text-white"><i class="fa fa-bars" aria-hidden="true"></i></span></a>
                <div class="dropdown-menu">
                  <ul class="navbar-nav ml-auto flex-row-initial">
                    <li class="nav-item"><a class="nav-link active custom-drop" href="#0">Blog</a></li>
                    <li class="nav-item"><a class="nav-link custom-drop" href="#0">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link custom-drop" href="#0">Register</a></li>
                  </ul>
                  <ul class="navbar-nav social-header-link p-3 ml-0 text-center">
                    <li class="nav-item mr-2"><a class="facebook-icon social-icon-a" href="#0"><i class="fa fa-facebook"></i></a></li>
                    <li class="nav-item mr-2"><a class="twitter-icon social-icon-a" href="#0"><i class="fa fa-twitter"></i></a></li>
                    <li class="nav-item mr-2"><a class="instagram-icon social-icon-a" href="#0"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="search-area">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="tg-bannercontent">
            <form class="tg-formtheme tg-formbannersearch">
              <fieldset>
                <div class="form-group tg-inputwithicon">
                  <i class="icon-bullhorn"></i>
                  <input type="text" name="customword" class="form-control" placeholder="What are you looking for">
                </div>
                <div class="form-group tg-inputwithicon">
                  <i class="icon-location"></i>
                  <a class="tg-btnsharelocation fa fa-crosshairs" href="#0"></a>
                  <input type="text" name="yourlocation" class="form-control" placeholder="Your Location">
                </div>
                <div class="form-group tg-inputwithicon">
                  <i class="icon-layers"></i>
                  <div class="tg-select">
                    <select>
                      <option value="none">Select Category</option>
                      <option value="none">Mobiles</option>
                      <option value="none">Electronics</option>
                      <option value="none">Vehicles</option>
                      <option value="none">Bikes</option>
                      <option value="none">Animals</option>
                      <option value="none">Furniture</option>
                      <option value="none">toys</option>
                    </select>
                  </div>
                </div>
                <a id="hide-btn" href="#0" class="tg-btn">Search Now</a>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
