<h3 class="card-subtitle mb-0">You have 4 new messages</h3>
<div class="message-box mt-2">
    <div class="message-widget">
      <!-- Message -->
      <a href="#" target="_parent">
          <div class="user-img"> <img src="{{imagePrefix}}1p.jpeg" alt="user" class="img-circle"> <span class="profile-status online float-right"></span> </div>
          <div class="mail-contnet">
            <h5>Pavan K.</h5>
            <span class="mail-desc">Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has been.</span>
            <div class="msg-time"><span class="date text-orange">March 30, 2019 </span> | <span class="time text-orange">9:30 AM</span> </div>
          </div>
      </a>
      <!-- Message -->
      <a href="#">
          <div class="user-img"> <img src="{{imagePrefix}}1p.jpeg" alt="user" class="img-circle"> <span class="profile-status busy float-right"></span> </div>
          <div class="mail-contnet">
            <h5>Sonu N.</h5>
            <span class="mail-desc">I've sung a song! See you at</span>
            <div class="msg-time"><span class="date text-orange">March 30, 2019 </span> | <span class="time text-orange">9:30 AM</span> </div>
          </div>
      </a>
      <!-- Message -->
      <a href="#">
          <div class="user-img"> <span class="round">A</span> <span class="profile-status away float-right"></span> </div>
          <div class="mail-contnet">
            <h5>Arijit S.</h5>
            <span class="mail-desc">Simply dummy text of the printing and typesetting industry.</span>
            <div class="msg-time"><span class="date text-orange">March 30, 2019 </span> | <span class="time text-orange">9:30 AM</span> </div>
          </div>
      </a>
      <!-- Message -->
      <a href="#">
          <div class="user-img"> <img src="{{imagePrefix}}1p.jpeg" alt="user" class="img-circle"> <span class="profile-status offline float-right"></span> </div>
          <div class="mail-contnet">
            <h5>Pavan K.</h5>
            <span class="mail-desc">Just see the my admin!</span>
            <div class="msg-time"><span class="date text-orange">March 30, 2019 </span> | <span class="time text-orange">9:30 AM</span> </div>
          </div>
      </a>
    </div>
</div>
