<h3>Manage Profile</h3>
<p class="heading-md font-family-alice">Below are the details on file for your account</p>
<div class="default-form">
  <!--Default Form-->
  <form>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input type="text" name="username" value="Steven">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Last Name</label>
              <input type="text" name="lastname" value="Denial">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label class="control-label">E-mail Address</label>
              <input type="text" name="email" required="" value="email@domainname.com">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label class="control-label"> Current Password</label>
              <input type="password" name="Current" value="abc">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> New Password</label>
              <input type="password" name="Password" value="abc">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Confirm New Password</label>
              <input type="password" name="ConfirmPassword" value="abc">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group mb-4">
              <label class="control-label">Phone Number</label>
              <input type="text"  name="Password" required="" value="212-212-2222">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
              <label class="control-label">City</label>
              <input type="text"  name="City" required="" value="City Name">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group mb-4">
              <label class="control-label">State</label>
              <input type="text"  name="State" required="" value="State Name">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group mb-2">
              <label class="control-label">High School Name</label>
              <input type="text"  name="Password" required="" value="High School Name">
            </div>
        </div>
        <div class="col-md-12 default-form">
            <div class="text-center mt-4">
              <a class="theme-btn px-4 h-auto w-auto" href="#">Save Changes </a>
            </div>
        </div>
      </div>
  </form>
</div>
