<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="clearfix"></div>
  <div class="container">
    <div class="row">
      <div class="tg-footerinfo">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pull-right">
          <div class="tg-widget tg-widgetsearchbylocations">
            <div class="tg-widgettitle">
              <h3>Search By Locations:</h3>
            </div>
            <div class="tg-widgetcontent">
              <ul>
                <li><a href="#0">-  Aberdeen</a></li>
                <li><a href="#0">-  Armagh</a></li>
                <li><a href="#0">-  Bangor</a></li>
                <li><a href="#0">-  Bath</a></li>
                <li><a href="#0">-  Belfast</a></li>
                <li><a href="#0">-  Birmingham</a></li>
                <li><a href="#0">-  Bradford</a></li>
                <li><a href="#0">-  Brighton and Hove</a></li>
                <li><a href="#0">-  Bristol</a></li>
                <li><a href="#0">-  Cambridge</a></li>
              </ul>
              <ul>
                <li><a href="#0">-  Canterbury</a></li>
                <li><a href="#0">-  Cardiff</a></li>
                <li><a href="#0">-  Carlisle</a></li>
                <li><a href="#0">-  Chester</a></li>
                <li><a href="#0">-  Chichester</a></li>
                <li><a href="#0">-  City of London</a></li>
                <li><a href="#0">-  Coventry</a></li>
                <li><a href="#0">-  Derby</a></li>
                <li><a href="#0">-  Dundee</a></li>
                <li><a href="#0">View All</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="tg-widget tg-widgettext">
            <div class="tg-widgetcontent">
              <strong class="tg-logo"><a href="#0"><img width='100px' src="{{imagePrefix}}/logo1.png" alt="image"></a></strong>
              <div class="tg-description">
                <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua anii ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo aute irurel in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
              </div>
              <div class="tg-followus">
                <strong>Follow Us:</strong>
                <ul class="tg-socialicons">
                  <li class="tg-facebook"><a href="#0"><i class="fa fa-facebook"></i></a></li>
                  <li class="tg-twitter"><a href="#0"><i class="fa fa-twitter"></i></a></li>
                  <li class="tg-linkedin"><a href="#0"><i class="fa fa-linkedin"></i></a></li>
                  <li class="tg-googleplus"><a href="#0"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              <nav class="tg-footernav">
                <ul>
                  <li><a href="#0">Listing Policy</a></li>
                  <li><a href="#0">Terms of Use</a></li>
                  <li><a href="#0">Privacy Policy</a></li>
                  <li><a href="#0">Change Currency</a></li>
                  <li><a href="#0">News</a></li>
                </ul>
              </nav>
              <span class="tg-copyright">2020 All Rights Reserved &copy; Smart Ads</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Modal -->
<div class="modal fade" id="desktop-search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-body">
        <div class="modal-single-img tg-shadow owl-carousel owl-theme">
          <div class="item clearfix">
            <div class="tg-ad tg-verifiedad new-ads-active clearfix">
              <img src="{{imagePrefix}}/image3.jpg" alt="image description">
            </div>
          </div>
          <div class="item clearfix">
            <div class="tg-ad tg-verifiedad new-ads-active clearfix">
              <img src="{{imagePrefix}}/image1.jpg" alt="image description">
            </div>
          </div>
          <div class="item clearfix">
            <div class="tg-ad tg-verifiedad new-ads-active clearfix">
              <img src="{{imagePrefix}}/image2.jpg" alt="image description">
            </div>
          </div>
          <div class="item clearfix">
            <div class="tg-ad tg-verifiedad new-ads-active clearfix">
              <img src="{{imagePrefix}}/image3.jpg" alt="image description">
            </div>
          </div>
          <div class="item clearfix">
            <div class="tg-ad tg-verifiedad new-ads-active clearfix">
              <img src="{{imagePrefix}}/image4.jpg" alt="image description">
            </div>
          </div>
          <div class="item clearfix">
            <div class="tg-ad tg-verifiedad new-ads-active clearfix">
              <img src="{{imagePrefix}}/image7.jpg" alt="image description">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
